.artemis{
  font-size: xxx-large;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ff3700;
  font-weight: bold;
}

.intro{
  margin-left: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.intro_2{
  font-family: 'Courier New', Courier, monospace;
  margin-top: -15px;
  color: #ffffff;
  font-size: x-large;
}

.s_heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  background-color: #ff3700;
  color: white;
  font-weight: bold;
  font-size: xxx-large;
}

.artemis_1{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.artemis_2{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.artemis_3{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.artemis_4{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.artemis_5{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.artemis_6{
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: x-large;
}

.title{
  font-size: xxx-large;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: #ff3700;
  color: #ffffff;
}
.name{
  margin-top: 100px;
  font-size: xxx-large;
  background-color: #ff3700;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

body {
  background: linear-gradient(to left, #ff3300, #000000);
}

.link-button{
  border-radius: 30px;
  background: linear-gradient(to right, #ff0000, #000000);
  color: #ffffff;
  height: 70px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  margin-top: 75px;
  cursor: pointer;
  transition: 0.7s;
  padding: 10px 20px;
  text-align: center;
  display: inline-table;
  text-decoration: black;
}

.link-button:hover{
 opacity: 0.5;
}

.link-button:active{
  opacity: 0.3;
}
